.tile {
  display: grid;
  place-content: center;
  width: 50px;
  height: 50px;
}

.tile img {
  width: 50px;
}

.tile .chess-piece {
  width: 43px;
  height: 43px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 43px;
}

.tile .chess-piece:hover {
  cursor: grab;
}

.tile .chess-piece:active {
  cursor: grabbing;
}

.dark-tile {
  background-color: #ababab;
}

.light-tile {
  background-color: #dcdcdc;
}

.useless {
  background-color: black;
}

.tile-highlight:not(.chess-piece-tile)::before {
  content: ' ';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
}

.tile-highlight.chess-piece-tile::before {
  position: absolute;
  content: ' ';
  width: 45px;
  height: 45px;
  border: 2.5px solid rgba(0, 0, 0);
  border-radius: 50%;
}
