.playerName {
  padding: 15px;
  border-radius: 20px;
  font-weight: bold;
  position: absolute;
  opacity: 0.4;
}

.team-blue {
  margin-top: 100px;
  margin-left: 0;
  background-color: rgb(96, 96, 253);
}

.team-yellow {
  margin-top: 0;
  margin-left: 550px;
  background-color: rgb(255, 255, 88);
}

.team-red {
  margin-top: 652px;
  margin-left: 36px;
  background-color: rgb(254, 81, 81);
}

.team-green {
  margin-top: 550px;
  margin-left: 565px;
  background-color: rgb(85, 249, 85);
}

#RED {
  opacity: 1;
}

#YELLOW {
  opacity: 1;
}

#BLUE {
  opacity: 1;
}

#GREEN {
  opacity: 1;
}
